
page{
	background-color: #BEBEBE;
}
	
.container{
	position: fixed;
	bottom: 70px;
	right: 0;
	left: 0;
}
.box{
	display: flex;
	justify-content: space-around;
	padding: 15px;
}


.node{
	background-color: #ffffff;
	border-radius: 50%;
	width: 70px;
	height:70px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.none{
	width: 70px;
	height:70px;
}