
.container{
	/* background-color: #888888; */
	/* height: calc(100vh - 50px ); */
		background-color:f9f9f9;
}
.flex{
	display: flex;
	/* justify-content: center; */
	justify-content: space-around;
	background-color: #fff;
}